@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');

* { font-family: 'Muli', sans-serif; }

[href]:hover { text-decoration: none ; }

[disabled]:hover { cursor: not-allowed; }

[data-toggle="tooltip"].disabled-tooltip {
	&:hover { cursor: not-allowed; }
	& button { pointer-events: none; }
}

.close {
	color: $white;
	opacity: .8;
	font-weight: 600;

	&:hover { color: color.adjust($white, $lightness: -10%) }
	&:focus { outline: none }
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.wrapper .content {
	width: 100%;
	min-height: 100vh;
}

tr.clickable {
	-webkit-user-select: none !important;
}

.clickable:hover {
	cursor: pointer;
}

.card-client .card-client-item-info {
	font-size: .89rem;
}

.pagination-responsive {
	display: inherit;
	overflow-x: auto;
}

.loading {
  position: absolute;
  z-index: 2000;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .3);

  [class*="spinner"] {
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	margin: auto;
  }
}

.text-underline {
	text-decoration: underline;
}

.no-wrap {
	white-space: nowrap;
}

@include media-breakpoint-down(md) {
	.table tr { font-size: .9rem }
}

@include media-breakpoint-up(md) {
	.modal-dialog.modal-dialog-md {
		max-width: 650px;
	}
}
