.sidebar-wrapper + .content {
	transition: margin-left .25s;
}

.sidebar-wrapper.is-active {
	@include media-breakpoint-up(sm) {
		& +.content {
			margin-left: $sidebar-width;
		}
	}

	.sidebar {
		margin-left: 0;
	}
}

.sidebar {
	padding-top: 1.5rem;
	color: #fff;
	background-color: rgba($dark, .95);
	display: block;
	height: 100%;
	min-width: $sidebar-width;
	max-width: $sidebar-width;
	margin-left: -($sidebar-width);
	transition: all .25s;	
	overflow: auto;	
	z-index: 1000;
	position: fixed;
	
	.header {
		text-align: center;

		h5 {
			font-size: 1.1rem;
			font-weight: 600;
		}
	}

	ul {
		font-size: .95rem;
		font-weight: 600;
		
		li.active {
			background-color: rgba(black, .3);
			font-weight: 600;
		}

		li a {
			color: $white;
			padding: .5rem 1rem .5rem 2rem;
			display: block;
			margin: 0;
			font-size: .95rem;
			letter-spacing: 1px;

			&:hover {
				background-color: rgba(black, .15);
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.sidebar {
		background-color: $dark;
		z-index: 1020;
		min-width: 100%;
		max-width: 100%;
		margin-left: -100%;
		overflow: hidden;
		transition: margin-left .25s;
	}
}

.accordion-sidebar {
	[data-toggle="collapse"] + div ul {
		a {
			padding-left: 3rem;
		}
	}

	[data-toggle="collapse"] .icon {
		position: absolute;
		right: 15px;
		top: 10px
	}

	[data-toggle="collapse"]:not(.collapsed) .icon,
	[data-toggle="collapse"].colllapsed .icon {
		transform: rotate(0);
	}

	[data-toggle="collapse"] .icon {
		transition: transform .2s;
		transform: rotate(90deg);
	}
}

@include media-breakpoint-down(md) {
	.accordion-sidebar {
		text-align: center;

		i {
			margin-bottom: .25rem;
		}

		li > a {
			font-size: 1.15rem !important;
		}
	}
}
