.swal2-toast {
	&:hover {
		cursor: pointer;
	}

	.swal2-content {
		margin-bottom: 0 !important;
		font-weight: bold;
	}

	&.swal2-icon-success .swal2-title { color: $green }
	&.swal2-icon-info .swal2-title { color: $blue }
	&.swal2-icon-warning .swal2-title { color: $orange }
	&.swal2-icon-error .swal2-title { color: $red }
}

.swal2-popup.swal2-toast:hover {
	background-color: color.adjust($white, $lightness: -1%);
}

.swal2-popup {
	border-radius: 1px !important;
	border: 1px solid $light !important;
}

.swal2-content {
	font-size: .9rem;
	margin-bottom: 1rem !important;
}

.swal2-icon {
	border: none !important;
}

